@use '../../styles/popup-styles';

.root {
  display: flex;

  svg {
    width: 100%;
    height: 100%;
  }
}

.sizeXS {
  width: popup-styles.$space-s;
  height: popup-styles.$space-s;
}

.sizeS {
  width: popup-styles.$space-m;
  height: popup-styles.$space-m;
}

.sizeM {
  width: popup-styles.$space-l;
  height: popup-styles.$space-l;
}

.sizeL {
  width: popup-styles.$space-xl;
  height: popup-styles.$space-xl;
}

.sizeXL {
  width: popup-styles.$space-m;
  height: popup-styles.$space-m;
}
